/*

Created By Austin Le, 12/3/2019.
Please give credit if any portion was used in your project.
Email: le.austin2000@gmail.com.

Thank you!

*/

@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');
body
{
  font-family: 'Karla', sans-serif;
}

h1
{
  text-align: center;
  color: white;
  font-size: 5em;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-shadow: 5px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

h5, h6, strong
{
  text-decoration: underline;
  font-weight: bold;
}
.background
{
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: white;
  height: 80vh;
  position: relative;
  background-image: url(images/counter.jpg);
  background-size: cover;
}

.aboutbackground
{
  opacity: 100%;
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: white;
  height: 80vh;
  position: relative;
  background-image: url(images/city.jpg);
  background-size: cover;
}
.menubackground
{
  opacity: 100%;
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: white;
  height: 80vh;
  position: relative;
  background-image: url(images/pour.jpeg);
  background-size: cover;
}
.events
{
  opacity: 100%;
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: white;
  height: 80vh;
  position: relative;
  background-image: url(images/live.jpg);
  background-size: cover;
}
.schedule
{
  opacity: 100%;
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: white;
  height: 100vh;
  position: relative;
  background-image: url(images/schedule.jpg);
  background-size: cover;
}
.contact
{
  opacity: 100%;
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: white;
  height: 100vh;
  position: relative;
  background-image: url(images/contact.jpg);
  background-size: cover;
}
.row img
{
  margin-top: 10%;
}
#carouselExampleIndicators
{
  width: 50%;
  margin: auto;
  border: 2px solid black;
  background-color: white;
  padding: 10px;
  opacity: 100%;
}
.second
{
  opacity: 100%;
  width: 100%;
  padding: 0 7%;
  background-color: white;
  position: inherit;
  background-image: url(images/twolatte.jpg);
  background-size: cover;
}
.caption
{
  text-align: center;
  margin-bottom : 10%;
  color: black;
}
.little
{
  width: 50%;
  border-radius: 50%;
  border: 2px solid black;
  background-color: white;
}
.row p
{
  margin-left: 6%;
  margin-right: 6%;
}
.row
{
  margin: 2% auto;
}
.calendar
{
  width: 70%;
  margin: auto;
}
table
{
  margin: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 70% !important;
}
th
{
  text-align: center;
}
table a
{
  color: white;
  text-decoration: underline;
}
.container
{
  width: 60%;
  border-width: 2px;
  border: 2px solid black;
  margin: 2% auto;
  padding: auto;
  background-color: white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
  border-radius: 25px;
}
.containermenu
{
  width: 80%;
  border-width: 2px;
  border: 2px solid black;
  margin: 2% auto;
  padding: auto;
  background-color: white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
  border-radius: 25px;
}
.containerabout
{
  width: 80%;
  border-width: 2px;
  border: 2px solid black;
  margin: 2% auto;
  padding: auto;
  background-color: white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
  border-radius: 25px;
}
#contact, #schedule
{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#schedule label, legend
{
  color: #fff;
  text-shadow: 5px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
#schedule input[type="radio"]
{
  float: left;
}
#schedule legend
{
  font-size: 2.5em;
}
#contact legend
{
  font-size: 2.5em;
}
#contact label
{
  font-size: 1.3em;
}
input, textarea
{
  border-radius: 5px;
}
textarea
{
  margin: auto;
  box-sizing: border-box;
}
.php
{
	opacity: 100%;
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: white;
  height: 100vh;
  position: relative;
	background-image: url(images/latteart.jpg);
  background-size: cover;
}
.form
{
	text-align: center;
  color: white;
  font-size: 5em;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-shadow: 5px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.choices
{
  width: 100%;
  text-align: left;
  margin-left: 10%;
}
.choices input[type="radio"]
{
  float: left;
  margin-top: 3px;
}
.choices label
{
  color: #fff;
  text-shadow: 5px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  margin-bottom: 5px;
  margin-top: none;
  margin-left: 5px;
}
.scheduleButton
{
  font-size: 16pt;
  color: black;
}
.scheduleButton input:hover
{
  background-color: #555555;
  color: white;
}
.row figure a:hover
{
  opacity: 50%;
}
#info input[type="submit"]:hover, input[type="reset"]:hover
{
  background-color: #555555;
  color: white;
}
